@model Marketing.Models.Home.BankModel

<div class="text-center" align="center">
    <h1>@Model.Header</h1>
    <table cellspacing="10">
        <tr align="center">
            <td><b>Bic</b></td>
            <td><b>Name</b></td>
        </tr>
        @foreach (var bank in Model.Banks)
        {
            <tr>
                <td>@bank.Bic</td>
                <td>@bank.Name</td>

            </tr>
        }
    </table>
    
</div>

