@model Marketing.ViewModels.ApplicationsViewModels.ApplicationAddViewModel

<div class="text-center" align="center">
    <h1>Add</h1>
    <form asp-action="edit" method="post">
        <table cellspacing="5">
            <tr>
                <td><b>Code</b></td>
                <td><b>Name</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="Code" value="@Model.Code" /></td>
                <td><input type="text" name="Name" value="@Model.Name" /></td>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    </form>
</div>

